<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <table class="myTable">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
        </tr>

    </table>


    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Include profile.js -->
    <script src="/js/profile.js"></script>
</body>
</html>